src/main/mule/experience.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <!-- api-gateway:autodiscovery apiId="18257487" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="6cc96c20-5712-4edf-9eb2-2f162ef62364" flowRef="mulesy-usecases-exp-main" /-->
    
    <apikit:config name="mulesy-usecases-exp-config" api="mulesy-usecases-exp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	
	<flow name="mulesy-usecases-exp-main">
        <http:listener config-ref="domain_httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mulesy-usecases-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="FILE:ILLEGAL_PATH">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mulesy-usecases-exp-console">
        <http:listener config-ref="domain_httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mulesy-usecases-exp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="post:\images:application\json:mulesy-usecases-exp-config">
		<set-variable value="#[attributes.queryParams.storeInDatabase]" doc:name="(QueryParam) Is image to save?" doc:id="b0e31aea-f6cc-45b6-8b22-00b8d18d7489" variableName="isImageToSaveInDatabase"/>
		<set-variable value='#["image_" ++ (now() as String {format: "y-MM-dd-hhms"})]' doc:name="Generate Unique Image Name" doc:id="d9bba998-368e-4c31-a5b0-6f4e535882e1" variableName="imageName"/>
		<ee:transform doc:name="Process Layer Request" doc:id="f0b01129-fa62-45ec-bf38-e442b9ef800a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	isImageToSaveInDatabase: vars.isImageToSaveInDatabase,
	imageName: vars.imageName,
	imageRequestData: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Process Layer" doc:id="170d60cc-0022-4122-a95c-2077b554f1c9" name="post-images-process"/>
		<ee:transform doc:name="Include Location Header" doc:id="5995b4d1-8d71-467f-96b8-b6fc41d6ae66">
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[(vars.outboundHeaders default {}) ++ (
	if (vars.isImageToSaveInDatabase ~= "true") {
		Location: vars.imageName
	} 
	else {
		Location: null
	}
)]]></ee:set-variable>
			</ee:variables>
		</ee:transform>    
    </flow>
    
    <flow name="get:\images\(imageFileName):mulesy-usecases-exp-config">
		<set-variable value='#[attributes.uriParams.imageFileName]' doc:name="(QueryParam) Image to Read" doc:id="334f2546-874a-46c0-a445-370f9c198fc9" variableName="imageToRead"/>
		<ee:transform doc:name="Process Layer Request" doc:id="4d35eb5a-e278-4d01-8c64-f34d1f8f794f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	imageFilenameToRead: vars.imageToRead
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Process Layer" doc:id="61c55276-ee88-4ec5-abc5-7509a3c7b7ab" name="get-images-by-image-filename-process"/>
    </flow>
</mule>
